@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
body{
    justify-content: center;
    align-items: center;
}
.total{
    max-width: 960px; /* Define a largura máxima do container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    word-wrap: break-word; /* Faz com que as palavras sejam quebradas, se necessário, para não ultrapassar os limites */
}
.container1{
    flex-direction: row;
    display: flex;
    flex-flow: column wrap;
    align-items:start;
}
.container1 h1{
    font-family: "EB Garamond", serif;
    font-size: 70px;
    margin-top: 0;
}
p{
    font-size: 17px;
    font-family: "Be Vietnam Pro", sans-serif;
}
.disclaimer{
    background: #F8F9FA;
    padding-right: 5px;
    max-width: fit-content;
    display: flex;
    gap: 5px;
}
.regua{
    color: #0065FF;
}
.azul{
    color: #0065FF;
}
h4{
    font-size: 20px;
}
.botao-descricao{
    border-color: #0065FF;
}
@media(width <= 1000px){
    .total{
        padding-inline: 15px;
    }
}
@media(width <= 875px){
    .total{
        margin: 0 auto;
    }
    .total h1{
        text-align: center;
        font-size: 32px;
        margin: 0 auto;
    }
    .container1 img{
        align-self: center;
        margin: 0 auto;
    }  
}